* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Crimson Text', Arial, sans-serif;
}


h1 {
    color: white;
    text-align: left;
    margin: 0 auto;
    /* background-color: rgb(247, 225, 228); */
    background-image: url(../images/stars.webp);
    background-position: center;
    background-size: cover;
    padding: 2rem 8rem;
    font-size: larger;
    font-family: 'Crimson Text', 'Open Sans', sans-serif;
    
}

header img {
    float: left;
    margin: 1rem 0 1rem 1rem;
}

nav {
    background-color: rgb(161, 140, 180);
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Crimson Text', 'Open Sans', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1rem;
    
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color:rgb(46, 5, 44);
}

main {
    background-image: url(../images/sky.webp);
    background-position: center;
    background-size: cover;
}

.title {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

.left img {
    margin: 1.5rem auto;
    display:block;
}

.right {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(247, 223, 228);
    opacity: 0.7;
}

.right h3 {
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
}



footer {
    text-align: center;
    background-color: rgb(168, 127, 165);
    background-image: url(../images/flowers.jpg);
    background-position: center;
    background-size: cover;
}

footer p {
    color: black;
    padding: 0.5rem;
}

