* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Crimson Text', Arial, sans-serif;
    font-size: 1.5rem;
}


.stars img {
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
}

h1 {
    position: absolute;  
    top: 50px;
    left: 160px;
    color: white;
    text-align: left;
    font-size: 2rem;
    font-family: 'Crimson Text', 'Open Sans', sans-serif;   
}

nav {
    background-color: rgb(161, 140, 180); 
    font-size: 1.5rem;
    font-family: 'Crimson Text', 'Open Sans', sans-serif;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1rem;   
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color:rgb(46, 5, 44);
}

.sky img {
    position: relative;
    width: 100%; 
    opacity: 0.7;
}

.title {
    position: absolute;
    top: 230px;
    left: 60px;
    text-align: center;
    padding: 1rem;
}

.cover img {
    position: absolute;
    top: 400px;
    left: 32px;
}

.intro {
    position: absolute;
    top: 1030px;
    padding: 1.5rem;
    background-color: rgb(247, 223, 228, 0.7);
    text-align: justify;
}

.intro h3 {
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
}

.flowers {
    position: absolute;
    top: 2220px;
}

.foot {
    position: absolute;
    top: 2235px;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 0.5rem;
}

