@media screen and (min-width: 500px) {

    body {
        font-size: 1rem;
    }

    .title {

        top: 250px;
        left: 500px;
    }

    .cover img {
        top: 380px;
        left: 40px;
    }

    .intro {
        top: 430px;
        left: 420px;
        margin: 0 2rem;
    }

    .flowers {
        top: 888px;
    }

    .foot {
        top: 950px;
        left: 420px;
    }

    /* --------- The Book ----------- */


    .index {
        position: absolute;
        top: 410px;
        left: 560px;
    }

    #contents {
        position: absolute;
        top: 470px;
        left: 470px;
     
    }

    .manuscript {
        top: 600px;
        padding: 2rem;
    }

    .flowers2 {
        top: 8220px;

    }

    .foot2 {
        top: 8270px;
        left: 420px;
    }

    /* --------- Contact Us Page ------- */

    
    .thank-the-reader h1 {
        top: 290px;
        left: 500px;
        font-size: 2rem;
    }

    .thank-the-reader p {
        top: 335px;
        left: 220px;
    }

    .questions li {
        padding: .7rem;
        margin: auto -1.5rem;
        
    }

    form {
        width: 550px;
    }

    .feedback {
        top: 450px;
        left: 600px;
    }

    input {
        width: 85%;
    }

    input[type="submit"] {
        margin: 1rem 0 0 7rem;
    }

    .flowers3 {
        position: absolute;
        top: 1140px;

    }

    .foot3 {
        position: absolute;
        top: 1200px;
        left: 450px;
        text-align: center;
        color: black;
        font-weight: 700;
        padding: 0.5rem;
        font-size: 1.2rem;
    }

}
