* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Crimson Text', Arial, sans-serif;
    font-size: 1.5rem;
}


.stars img {
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
}

h1 {
    position: absolute;  
    top: 50px;
    left: 160px;
    color: white;
    text-align: left;
    font-size: 2rem;
    font-family: 'Crimson Text', 'Open Sans', sans-serif;   
}

nav {
    background-color: rgb(161, 140, 180); 
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Crimson Text', 'Open Sans', sans-serif;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1rem;   
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    /* color:rgb(139, 17, 133); */
    color: white;
}

.sky img {
    position: relative;
    width: 100%; 
    opacity: 0.7;
}

.title {
    position: absolute;
    top: 230px;
    left: 60px;
    text-align: center;
    padding: 1rem;
}

.cover img {
    position: absolute;
    top: 400px;
    left: 32px;
    border-radius: 10px;
}

.intro {
    position: absolute;
    top: 1030px;
    padding: 1.5rem;
    background-color: rgb(247, 223, 228, 0.7);
    text-align: justify;
}

.intro h3 {
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
}

.flowers {
    position: absolute;
    top: 2220px;
}

.foot {
    position: absolute;
    top: 2235px;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 0.5rem;
}

/* --------- The Book Page----------- */


.index {
    position: absolute;
    top: 450px;
    left: 140px;   
    text-decoration: underline;
}

#contents {
    position: absolute;
    top: 520px;
    left: 70px;
    list-style-type:upper-roman ;
    font-size: 1.2rem;
}

#contents li:hover {
    color:rgb(211, 26, 184);
    text-transform: uppercase;
}

.manuscript {
    position: absolute;
    top: 700px;
    font-size: 1.2rem;
    background-color: rgb(247, 223, 228, 0.7);
    text-align: justify;
    padding: 1rem;  
}

.manuscript h3 {
    text-align: center;
    padding: 1.5rem;
}


.flowers2 {
    position: absolute;
    top: 18140px;
    
}

.foot2 {
    position: absolute;
    top: 18190px;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 1.2rem;
}

/* --------- Contact Us Page ------- */

.thank-the-reader h1, 
.thank-the-reader p,
.questions,
.feedback,
.newsletter {
    position: absolute;
    font-size: 1.3rem;
    color: black;
}

.thank-the-reader h1 {
    top: 250px;
    left: 150px;
    font-size: larger;
}

.thank-the-reader p {
    top: 290px;
    left: 20px;
    text-align: center;
    padding: 1rem;
}

.questions {
    top: 450px;
    left: 100px;
}

form {
    background-color: rgb(232, 211, 232);
    font-size: 1.3rem;
}

.feedback {
    top: 650px;
    left: 80px;
    border: 5px solid pink;
    padding: 1rem;
    font-size: 1rem;
}

label, input, textarea {
    display:block;
    padding: 1rem;
    font-size: 1.2rem;
}

input, textarea {
    border: 1px solid #5c164f;
    border-radius: 7px;
}

textarea {
    margin: 0 1rem;
    width: 79%;
   
}

input[type="submit"] {
    max-width: 330px;
    margin: 1rem 0 0 2.9rem;
    background-image: linear-gradient(#a26cce, rgb(226, 111, 190));
    box-shadow: 1px 1px 4px #4d0520;
    font-weight: 700;
}

input[type="submit"]:hover {
    color: white;
}

article h1 {
    color: black;
    top: 300px;
    left: 530px;
}

article p {
    position: absolute;
    top: 350px;
    left: 460px;
    font-size: larger;
}

.flowers3 {
    position: absolute;
    top: 1340px;

}

.foot3 {
    position: absolute;
    top: 1350px;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 1.2rem;
}