* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: rgba(34, 11, 91, 0.724);
    padding: 1rem;
    font-size: 1.2rem;
}

header {
    background-color: rgba(34, 11, 91, 0.724);
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(34, 11, 91, 0.724);
    ;
}

header,
main {
    margin: 0 auto;
}

header p {
    color: white;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: white;
    padding: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}


nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

.navigation a:hover {
    border: 1px solid white;
}

.open a {
    display: block;
}


main {
    max-width: 1000px;
}

main h1 {
    color: black;
    padding: 1rem;
    justify-self: center;

}

.templesCards {    
    
    section {
        margin: 20px auto;
        border: 1px solid grey;
        background-color: rgb(246, 243, 243);
        color: black;
        text-align: center;
        padding: 1rem;
    }

    .label {
        color:rgba(100, 10, 116, 0.724)
    }

    h3 {
        padding: 1rem;
        font-size: 2rem;
    }
    
    p {
        padding: 0.2rem;
    }
    
    section img {
        width: 100%;
        height: auto;
        border: 1px solid grey;
        margin-top: 1.2rem;
        box-shadow: 4px 4px 10px rgb(32, 6, 52);
        
    }


}

footer {
    text-align: center;
    background-color: rgba(34, 11, 91, 0.724);
    margin-bottom: 2rem;
}

footer p {
    color: white;
    padding: 0.5rem;
}

#lastModified {
    color: white;
}

