* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1rem;
}

main {
    margin: 0 auto;
}

h1 {
    background-color: rgb(12, 20, 52);
    color: white;
    text-align: center;
    padding: 2rem;
    border-bottom: 1rem solid white;
}

.icon { 
    background-color: white;

}

img {
    max-inline-size: 100%;
    display: block;
    margin: 0 auto;
}

h2, .data, .weather {
    text-align: center;
    background-color: white;
    color: black;
    padding: 0.5rem;
    justify-items: center;
}

h2:hover {
    text-decoration: underline;
}

.row {
    display: grid;
    grid-template-columns: 150px 150px;
    align-items: center;
    text-align: center;
}

.col1 {
    text-align: right;
}

.col2 {
    padding: 10px;
    text-align: left;
    font-weight: 100;
}

footer {
    text-align: center;
    background-color: rgb(12, 20, 52);
    border-top: 1rem solid white;
}

footer p, #lastModified {
    color: white;
    padding: 0.5rem;
}

