@media screen and (min-width: 500px) {
    main {
        position: relative;
    }

    .hero {
        background-color: rgb(12, 20, 52);
    }

    .icon {
        position: absolute;
        left: 40%;
        width: 25%;
        height: 2px;
    }

    .stats {
        width: 32%;
        position:absolute;
        top: 20%;
        left: 2%;
        opacity: 0.8;
    }

    .stats h2 {
        background-color: rgb(150, 214, 194);
        position:absolute;
        left: -10%;
        margin: 15px;
        width: 80%;
        text-align: start;    
    }

    .data, .weather {
        padding-top: 4.5rem;
    }

    .temp {
        width: 25%;
        position: absolute;
        bottom: 2%;
        right: 2%;
        opacity: 0.8;
    }
    
    .temp h2 {
        background-color: rgb(150, 214, 194);
        position: absolute;
        left: -13%;
        margin: 15px;
        width: 80%;
        text-align: start;
    }

    h2:hover {
        text-decoration: underline;
    }

    .col1 {
        font-weight: 700;
    }

    .col2 {
        font-weight: 400;
    }
}

