* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Crimson Text', Arial, sans-serif;
}

header img {
    width: 100%;

}


header p {
    color: black;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid pink;
    border-collapse: collapse; */
}

nav {
    background-color: rgb(161, 140, 180);
    margin: 0 auto;
    font-size: 16px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1rem;
    
}

nav a {
    text-decoration: none;
    color: white;
}


.background img {
    opacity: 0.6;
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.left img {
    margin: 1.5rem auto;
    display:block;
}

.right {
    display: block;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(247, 223, 228);
}

.right h2 {
    text-align: center;
    padding: 1rem;
}



footer {
    text-align: center;
    background-color: rgb(168, 127, 165);

    margin: 2rem 0;
    background-image: url(../images/flowers.jpg);
}

footer p {
    color: black;
    padding: 0.5rem;
}

/* #lastModified {
    color: yellow;
} */