@media screen and (min-width: 500px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
        display: block;
    }

    #menu {
        display: none;
    }

    .pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure {
        padding: 1rem;
        justify-items: center;
        align-items: center;
    }
}